<!DOCTYPE html>
<html>
<head>
<title>WEBMOTU</title>
</head>
<body style = "font-family:Arial;color:black">
<p><center><strong>WEBMOTU</strong></center></p>
<><><><><><><><><><><><><><><><><><><><><><>
<p><center>Online tool for Barcode Clustering and Identification<center></p>
<p >Web based tools for barcode clustering and identification. The tool is primarily written in Python 2.7. The UI has been develped using HTML and Javascript. It performs the following functions:</p>
	<ul>
	    <li >Clustering and Representative selection</li>
	    <li>Searching BOLD</li>
	    <li>Displaying Results</li>
	 </ul>
	 <p>A multitude of tools are used for performing the said operations:</p>
	 <ol>
	 <li>For clustering, <a href = "http://drive5.com/usearch/">usearch</a> was used</li>
	 <li><a href = "http://flask.pocoo.org/">Flask</a> was used as a web framework</li>
	 <li>Various python libraries such as itertools, xml.etree.ElementTree were used in development</li>
	 </ol>
</body>
</html>
