<html>
 <head>
  <title>WEBMOTU</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/index-style.css" rel="stylesheet" type = "text/css">
    <link type="text/css" rel="stylesheet" href="static/jquery.dataTables.css"/>
  </head>
 
<body background = "linen">
   <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.20/js/bootstrap.min.js"></script>
   <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
   <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<h1>
     <center>WEBMOTU</center>
</h1>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="#">Webmotu</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li class="active"><a href="index.html">Submit Job</a></li>
         </ul>
         </li>
      </ul>
   </div>
</nav>


<center>
   <form action"/" method="post">
     Enter file location:<br>
    <input type="text" name="input_file_path" input type="file" id="input_file_path"/>
    <input type="file" id="browse" />

    </br>
     Enter Clustering percentage:<br>
    <input type="number" name="clustering_percentage"/><br>
    <br><input type="submit" value="Submit" onClick="this.form.submit();this.disabled=true" /><br>
   </form>
<div class="progress">
     <div class="progress-bar progress-success"></div>
</div>

</center>
{% with messages = get_flashed_messages() %}
	{% if messages %}
		<pre>
			{% for message in messages %}
                           {{message}}
			{% endfor %}
		</pre>
	{% endif %}
{% endwith %}
</body>
</html>
