<html>
 <head>
  <title>WEBMOTU</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/index-style.css" rel="stylesheet" type = "text/css">
<link href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
  </head>
 
<body background = "linen">
   <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
   
   <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
   <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.20/js/bootstrap.min.js"></script>

<h1>
     <center>WEBMOTU</center>
</h1>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="#">Webmotu</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li class="active"><a href="index.html">Submit Job</a></li>
         </ul>
         </li>
      </ul>
   </div>

</nav>
<script>$(document).ready( function () {
    $('#boldresults').dataTable( {
        "dom": 'T<"clear">lfrtip',
        "tableTools": {
"sRowSelect": "multi",
            "aButtons": [
                "copy",
                "print",{
                    "sExtends": "pdf",
                    "sPdfOrientation": "landscape",
                    "sPdfMessage": "Your custom message would go here."
                }
                ]
        }
    } );
} );</script>
